
@import "~bootstrap/scss/bootstrap.scss";

a{
    text-decoration: none;
    color: white;
}

.home {
     background-image: url('../img/Comic_Book_Dash.webp');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     height: 85vh;
    
}

.logo{
    // filter: hue-rotate(10deg) brightness(100%) saturate(0%);
    background-color:gray;
}

.my_nav{
    background-color: #d7d7d7 !important;
} 

.agg_comic:hover {
    border-bottom: 2px solid blue;
    padding-bottom: 25px; 
    color: blue;
}


.my_show{
    background-image: url('../img/sfondo_dett.jpg') ;
    height: 95vh;
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: cover;
}