
@import "~bootstrap/scss/bootstrap.scss";

a{
    text-decoration: none;
    color: white;
}

.home {
     background-image: url('../img/Comic_Book_Dash.webp');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     height: 85vh;
     margin-top: 100px;
   
    
}

.logo{
    // filter: hue-rotate(10deg) brightness(100%) saturate(0%);
    background-color:gray;
}

.my_nav{
    background-color: #d7d7d7 !important;
} 

.agg_comic{
    border: none;
}


// .my_show{
    
//     position: relative;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     height: 90vh;
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     margin-top: 80px;
//     filter: brightness(0.9) opacity(0.5); /* Riduce la luminosità e aumenta la trasparenza */
    
    
//}

.my_index{
    margin-top: 100px;
}

//hover Dettagli
.btn-success {
    position: relative; /* Posizione relativa per il posizionamento del testo */
    color: white; /* Colore del testo */
    text-decoration: none; /* Rimuovere sottolineato */
    transition: color 0.3s, background-color 0.3s; /* Transizione del colore e sfondo */

    border: none; /* Rimuovere il bordo */
    padding: 7px 20px; /* Padding interno */
    cursor: pointer; /* Cambiare il cursore al passaggio del mouse */
    display: inline-block; /* Mostra come blocco inline */
    z-index: 2;
}

.btn-success:hover {
    color: white; /* Cambia il colore del testo all'hover */
    background-color: #28a745; /* Cambia il colore di sfondo all'hover */
}

.btn-success:hover::after {
    content: " Dettagli"; /* Aggiungi testo "Dettagli" all'hover */
    position: absolute; /* Posizione assoluta */
    top: 50%; /* Sposta il testo sotto il link */
    left: 50%; /* Allinea il testo a sinistra */

    transform: translate(-50%, -50%); /* Centra il testo rispetto al pulsante */
    //width: 200%; /* Larghezza al 100% del link */
    background-color: #28a745; /* Colore di sfondo */
    color: white; /* Colore del testo */
    padding: 5px; /* Spazio interno */
    font-size: 12px; /* Dimensione del font */
    text-align: center; /* Allinea il testo al centro */

    white-space: nowrap; /* Evita il riavvolgimento del testo */
}

//hover Modifica

.btn-warning {
    position: relative; /* Posizione relativa per il posizionamento del testo */
    color: white; /* Colore del testo */
    text-decoration: none; /* Rimuovere sottolineato */
    transition: color 0.3s, background-color 0.3s; /* Transizione del colore e sfondo */

    border: none; /* Rimuovere il bordo */
    padding: 7px 20px; /* Padding interno */
    cursor: pointer; /* Cambiare il cursore al passaggio del mouse */
    display: inline-block; /* Mostra come blocco inline */
    z-index: 2;
}

.btn-warning:hover {
    color: white; /* Cambia il colore del testo all'hover */
    background-color: #ffc107; /* Cambia il colore di sfondo all'hover */
}

.btn-warning:hover::after {
    content: " Modifica"; /* Aggiungi testo "Modifica" all'hover */
    position: absolute; /* Posizione assoluta */
    top: 50%; /* Sposta il testo sotto il link */
    left: 50%; /* Allinea il testo a sinistra */

    transform: translate(-50%, -50%); /* Centra il testo rispetto al pulsante */
   // width: 200%; /* Larghezza al 100% del link */
    background-color: #ffc107; /* Colore di sfondo */
    color: white; /* Colore del testo */
    padding: 5px; /* Spazio interno */
    font-size: 12px; /* Dimensione del font */
    text-align: center; /* Allinea il testo al centro */

    white-space: nowrap; /* Evita il riavvolgimento del testo */
}

//hover cancello
.btn-danger {
    position: relative; /* Posizione relativa per il posizionamento del testo */
    color: white; /* Colore del testo */
    text-decoration: none; /* Rimuovere sottolineato */
    transition: color 0.3s, background-color 0.3s; /* Transizione del colore e sfondo */
    border: none; /* Rimuovere il bordo */
    padding: 7px 20px; /* Padding interno */
    cursor: pointer; /* Cambiare il cursore al passaggio del mouse */
    display: inline-block; /* Mostra come blocco inline */
    z-index: 2;
}

.btn-danger:hover {
    color: white; /* Cambia il colore del testo all'hover */
    background-color: #dc3545; /* Cambia il colore di sfondo all'hover */
}

.btn-danger:hover::after {
    content: " Elimina"; /* Aggiungi testo "Elimina" all'hover */
    position: absolute; /* Posizione assoluta */
    top: 50%; /* Sposta il testo a metà dell'altezza */
    left: 50%; /* Sposta il testo a metà della larghezza */
    transform: translate(-50%, -50%); /* Centra il testo rispetto al pulsante */
    background-color: #dc3545; /* Colore di sfondo */
    color: white; /* Colore del testo */
    padding: 5px; /* Spazio interno */
    font-size: 14px; /* Dimensione del font */
    text-align: center; /* Allinea il testo al centro */
    white-space: nowrap; /* Evita il riavvolgimento del testo */
}
